* {
  box-sizing: border-box;
}

body {
  background-color: #171555;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  /* height: 92px; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
}

.bars {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 10px;
  background-color: #f5f5ff;
  transition: all 0.3s;
  z-index: 2;
}

.first-section {
  background-image: url(IMG1/background-image1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  position: relative;
  display: flex;
  top: 63px;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.about-container h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #6d62fff0;
}

.about-container h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #edecff;
  margin-top: 10px;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.intro-container p {
  width: 327px;
  margin-top: 67px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
}

.lang-framework-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-left: -20px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  margin-bottom: 24px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px 0;
}

ul {
  list-style: none;
}

ul,
li {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 31px;
  color: #f5f5ff;
}

.social-media-container ul {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  flex: none;
  margin-top: 100px;
  margin: 24px 0;
}

/*  second section  */

.work-image {
  width: 77px;
  height: 40px;
  margin: 0 33% 24px 33%;
}

.title-container h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #9490ff;
  margin: 0 24px;
}

.title-container img {
  width: 80%;
  margin: 33px 24px;
  height: 0;
  border: 1px solid #646369;
}

.main-body {
  background-image: url(IMG1/background-image2.png);
  background-repeat: no-repeat;
}

.image-placeholder > img {
  width: 100%;
}

.projects-container {
  margin: 40px 24px;
}

.content h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 24px 0;
}

.content p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  margin: 24px 0;
}

.list-tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  padding: 1px;
  height: 40px;
  margin: 24px 0;
}

.border-right {
  border-right: 1px solid #646369;
  padding-left: 12px;
}

.border-left {
  padding-right: 12px;
  padding-left: 10px;
}

button {
  background-color: #8a8aff;
  padding: 20px;
  color: #000;
  border: none;
  font-family: Roboto, sans-serif;
  transition: 0.6s;
}

.myprojects {
  font-weight: 600;
}

button:hover {
  background-color: #8a8aff;
  color: #000;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.form-container {
  margin-top: 120px;
  padding: 0 calc(24px + 0.1 * (100vw - 375px));
}

.form-intro h3 {
  height: 35px;
  margin: 24px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #9390ff;
}

.form-intro p {
  height: 105px;
  left: 0;
  top: 59px;
  margin: 0 0 40px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #646369;
}

input[type='text'] {
  width: 100%;
  padding: 12px 16px;
  margin: 18px 0;
  box-sizing: border-box;
}

input[type='email'] {
  width: 100%;
  padding: 15px 16px;
  margin: 18px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  margin: 18px 0;
  box-sizing: border-box;
  height: 148px;
  padding: 12px;
}

.form-button {
  width: 89px;
  height: 48px;
  background: #8a8aff;
  color: #000;
  font-weight: 600;
  align-self: center;
  margin: 40px 0;
}

.form-button:hover {
  background-color: #8a8aff;
  color: #000;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  width: 89px;
  height: 48px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 72px;
}

.social-media-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 40px;
  padding-left: 20%;
}

.mail-container a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  padding-left: 10%;
}

.hide-in-mobile {
  display: none;
}

@media only screen and (max-width: 574px) {
  .hamburger {
    position: relative;
    display: block;
    z-index: 12;
  }

  .hamburger.show .bars:nth-child(2) {
    opacity: 0;
  }

  .hamburger.show .bars:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.show .bars:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbarlist {
    display: block;
    position: fixed;
    left: -100%;
    height: 5415px;
    background-color: #171555;
    background-image: url("IMG1/mb-menu-bg.png");
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: left;
    transition: 0.3s;
    width: 100%;
    z-index: 2;
  }

  .msg {
    display: none;
  }

  ul,
  li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1rem;
    margin-right: 20px;
  }

  .menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu > a {
    font-weight: 900;
  }

  .menu > img {
    width: 8px;
    height: 14px;
    margin-right: 30px;
  }

  .nav-list {
    margin: 18px 0;
  }

  .navbarlist.show {
    left: 0;
  }
}

@media only screen and (min-width: 575px) {
  ul,
  li a {
    text-decoration: none;
    color: #f9f9f9;
    margin-right: 20px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .logo > a {
    margin-left: 15px;
  }

  .navbarlist {
    display: flex;
  }

  .menu > img {
    display: none;
    width: 8px;
    height: 14px;
    margin-right: 30px;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .first-section {
    background-image: url(IMG1/background-image1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-container h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #6d62fff0;
  }

  .header-container h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #edecff;
    margin-top: 10px;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .intro-container p {
    width: 327px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
  }

  .lang-framework-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-left: -20px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
  }

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 29.33px;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 12px;
  }

  .social-media-container {
    position: relative;
    width: 50vw;
    display: grid;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    justify-content: center;
    align-items: center;
  }

  .social-apps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
    padding: 0;
  }

  .social-media-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
    padding: 0;
  }

  .work-image2 {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 200px;
    height: 48px;
  }

  .work-image1 {
    display: none;
    gap: 12px;
    width: 200px;
    height: 48px;
  }

  .work-image1 img {
    height: 70%;
  }

  .work-image2 img {
    height: 70%;
  }

  .work-image1 p {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: fit-content;
  }

  .work-image2 p {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: fit-content;
  }

  .work-image {
    display: none;
  }

  .title-container > img {
    margin: 30px 142px;
    background-repeat: no-repeat;
  }

  .main-body {
    background-image: url('IMG1/desktop-background2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-container .title {
    margin-left: 10%;
  }

  .projects-container {
    display: flex;
    align-items: center;
    margin: 40px 100px;
  }

  .projects-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .form-intro p {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .image-placeholder > img {
    width: 45vw;
  }

  .content {
    margin-left: 22px;
  }

  .form-container {
    padding: 0 calc(24px + 0.3 * (100vw - 375px));
  }

  .form-intro > h3 {
    font-size: 40px;
    text-align: center;
    line-height: 24px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    padding: 0 25%;
  }
}

@media only screen and (min-width: 990px) {
  .hide-in-desktop {
    display: none;
  }

  .show {
    display: block;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .navbarlist {
    display: flex;
  }

  .menu > img {
    display: none;
    width: 8px;
    height: 14px;
    margin-right: 30px;
  }

  ul,
  li a {
    text-decoration: none;
    color: #f9f9f9;
    margin-right: 20px;
  }

  .logo > a {
    margin-left: 15px;
  }

  .first-section {
    background-image: url('IMG1/desktop-background.png');
    background-size: contain;
  }

  .header-container h2 {
    font-size: 90px;
    line-height: 105px;
    margin: 10%;
    width: 100%;
  }

  .header-container h3 {
    font-size: 40px;
    line-height: 47px;
    width: 1156px;
    margin: 24px 0;
    text-align: center;
  }

  .intro-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 33%;
  }

  .intro-container p {
    justify-self: center;
    font-size: 20px;
    line-height: 32px;
    width: 447px;
    color: #b3bac5;
  }

  .lang-framework-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5px 20%;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-content: center;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
  }

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 29.33px;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 12px;
  }

  .social-media-container {
    position: relative;
    width: 80vw;
    display: grid;
    grid-template-columns: 24% calc(100% - 48%) 24%;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    justify-content: center;
    align-items: center;
  }

  .social-apps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
    padding: 0;
  }

  .social-media-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
    padding: 0;
  }

  .work-image2 {
    display: flex;
    justify-content: end;
    gap: 12px;
    width: 200px;
    height: 48px;
  }

  .work-image1 {
    display: flex;
    gap: 12px;
    width: 200px;
    height: 48px;
  }

  .work-image1 img {
    height: 70%;
  }

  .work-image2 img {
    height: 70%;
  }

  .work-image1 p {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: fit-content;
  }

  .work-image2 p {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: fit-content;
  }

  .title-container > img {
    margin: 30px 142px;
    background-repeat: no-repeat;
  }

  .main-body {
    background-image: url('IMG1/desktop-background2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-container .title {
    margin-left: 10%;
  }

  .projects-container {
    display: flex;
    align-items: center;
    margin: 40px 100px;
  }

  .projects-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .form-intro p {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .image-placeholder > img {
    width: 45vw;
  }

  .content {
    margin-left: 22px;
  }

  .form-container {
    padding: 0 calc(24px + 0.4 * (100vw - 375px));
  }

  .form-intro > h3 {
    font-size: 40px;
    text-align: center;
    line-height: 24px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    padding: 0 25%;
  }
}
