body {
  background-color: #191765;
  margin: 0 auto;
  width: 375px;
  height: 5415px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav img {
  left: 12.12%;
  right: 12.12%;
  top: 12.12%;
  bottom: 12.12%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 105px;
  height: 36px;
  left: 12px;
  top: calc(50% - 36px / 2);
}

.logo a {
  width: 81px;
  height: 16px;
  left: 12px;
  top: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 154px;
}

.image {
  width: 97px;
  height: 103px;
  margin-top: -160px;
  background-color: #edecff;
  margin-left: -80px;
  filter: blur(20px);
  background-image: url("IMG1/Ellipse1.jpg");
}

.header-container h1 {
  width: 327px;
  height: 55px;
  left: 0;
  top: 0;
  padding-left: 53px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.header-container h2 {
  width: 327px;
  height: 87px;
  left: 0;
  top: 67px;
  padding-left: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #edecff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 738.15px;
  left: calc(50% - 327px / 2);
  top: 314px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 40px 0;
}

.intro-container p {
  display: flex;
  width: 327px;
  height: 170px;
  left: 0;
  top: 0;
  padding-left: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 60px 0;
  margin-bottom: 10px;
}

.top-divider {
  width: 327px;
  height: 17px;
  left: 0;
  top: 194px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: auto;
  padding-left: 42px;
}

.frames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 303px;
  height: 462.15px;
  left: 12px;
  top: 235px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
  margin-bottom: 0;
}

.lang-framework-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 303px;
  height: 214.15px;
  left: 0;
  top: 0;
}

.language-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 123px;
  height: 167.33px;
  left: 0;
  top: 0;
}

.language-container h1 {
  width: 107px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.languages-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.1667px;
  width: 111.08px;
  height: 128.67px;
  left: 0;
  top: 38.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

ul {
  list-style: none;
}

ul,
li {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 31px;
  color: #f5f5ff;
}

.frameworks-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 156px;
  height: 214.15px;
  left: 147px;
  top: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 24px;
}

.frameworks-container h1 {
  width: 140px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.framework-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.7419px;
  position: static;
  width: 120px;
  height: 175.48px;
  left: 0;
  top: 38.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.frames-bg-img {
  position: absolute;
  width: 68px;
  height: 60px;
  left: 335px;
  top: 603px;
  background: #edecff;
  filter: blur(25px);
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 122px;
  height: 224px;
  left: 0;
  top: 238.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
  margin-bottom: 20px;
}

.skills-container h1 {
  width: 106px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.skills-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
  width: 92px;
  height: 181.33px;
  left: 0;
  top: 42.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0;
}

.bottom-divider {
  width: 327px;
  height: 17px;
  left: 0;
  top: 194px;
  flex: none;
  order: -1;
  flex-grow: 0;
  margin-top: -50px;
  margin-left: auto;
  padding-left: 30px;
}

.resources-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 200px;
  height: 104px;
  left: 87.5px;
  top: 1092.15px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 40px 0;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  position: static;
  width: 200px;
  height: 40px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  margin-bottom: 24px;
  padding-left: 50%;
}

.work-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  width: 77px;
  height: 40px;
  left: 61.5px;
  top: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  position: static;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  width: 375px;
  height: 3461px;
  left: 0;
  margin-top: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  position: static;
  width: 375px;
  height: 145px;
  left: 0;
  top: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0;
}

.title-container h1 {
  width: 327px;
  height: 104px;
  left: 24px;
  top: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.title-container img {
  height: 0;
  width: 80%;
  left: 0;
  right: 0;
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #646369;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 327px;
  height: 3036px;
  left: 24px;
  top: 305px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 40px 0;
}

.image-placeholder {
  position: static;
  width: 327px;
  height: 236px;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9), url(image_processing20200716-21735-f07s4k.png);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.background-img1 {
  position: absolute;
  background-image: url("IMG1/bg-image2.png");
  width: 39.61px;
  height: 482.57px;
  left: -112.04px;
  top: 1624.71px;
  background-color: #edecff;
  filter: blur(50px);
  transform: rotate(-36.38deg);
  z-index: 0;
}

.text-area h1 {
  position: relative;
  width: 327px;
  height: 105px;
  left: 0;
  top: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  z-index: 999;
}

.text-area p {
  width: 327px;
  height: 204px;
  left: 0;
  top: 129px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
  z-index: 999;
}

.list-tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  padding: 1px;
  position: static;
  height: 40px;
  left: 0;
  top: 357px;
  margin: 24px 0;
}

.border-right {
  border-right: 1px solid #646369;
  padding-left: 1px;
  padding-left: 12px;
}

.list-tags > div {
  width: 32px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

button {
  background-color: #7d73fc;
  padding: 10px;
  color: #f5f5ff;
  border: #7d73fc;
  font-family: Roboto, sans-serif;
}

.background-img2 {
  position: absolute;
  margin-right: 30px;
  margin-top: 200px;
  background-image: url("IMG1/bg-image3.png");
  width: 70.28px;
  height: 261.6px;
  left: 447.27px;
  top: 2437.23px;
  background-color: #edecff;
  filter: blur(50px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.background-img3 {
  position: absolute;
  width: 308px;
  height: 155px;
  margin-top: 270px;
  left: -93px;
  top: 3274px;
  background-image: url("IMG1/bg-image4.png");
  background-color: rgba(237, 236, 255, 0.3);
  filter: blur(50px);
}

.background-img4 {
  position: absolute;
  width: 90.29px;
  margin-top: 300px;
  height: 295.04px;
  margin-right: -112px;
  left: 258.22px;
  top: 4023px;
  background-image: url("IMG1/bg-image5.png");
  background-color: #edecff;
  filter: blur(30px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
}
