body {
  background-color: #191765;
  width: 375px;
  height: 5415px;
  position: relative;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

nav img {
  left: 12.12%;
  right: 12.12%;
  top: 12.12%;
  bottom: 12.12%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 105px;
  height: 36px;
  left: 12px;
  top: calc(50% - 36px / 2);
}

.logo a {
  height: 16px;
  left: 12px;
  top: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 154px;
}

/* first section */

.first-section {
  background-image: url(IMG1/background-image1.png);
}

.header-container h2 {
  height: 55px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.header-container h3 {
  height: 87px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #edecff;
  margin: 10px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 738.15px;
  left: calc(50% - 327px / 2);
  top: 314px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 40px 0;
}

.intro-container p {
  display: flex;
  width: 327px;
  height: 170px;
  left: 0;
  top: 0;
  padding-left: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 60px 0;
  margin-bottom: 10px;
}

.top-divider {
  height: 17px;
  left: 0;
  top: 194px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: auto;
  padding-left: 42px;
}

.frames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 303px;
  height: 462.15px;
  left: 12px;
  top: 235px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
  margin-bottom: 0;
}

.lang-framework-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.language-container {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 123px;
  height: 167.33px;
  left: 0;
  top: 0;
}

.language-container h1 {
  width: 107px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.languages-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.1667px;
  width: 111.08px;
  height: 128.67px;
  left: 0;
  top: 38.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

ul {
  list-style: none;
}

ul,
li {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 31px;
  color: #f5f5ff;
}

.frameworks-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 156px;
  height: 214.15px;
  left: 147px;
  top: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 24px;
}

.frameworks-container h1 {
  width: 140px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.framework-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.7419px;
  position: static;
  width: 120px;
  height: 175.48px;
  left: 0;
  top: 38.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.skills-container {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 122px;
  height: 224px;
  left: 0;
  top: 238.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
  margin-bottom: 20px;
}

.skills-container h1 {
  width: 106px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.skills-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
  width: 92px;
  height: 181.33px;
  left: 0;
  top: 42.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0;
}

.bottom-divider {
  height: 17px;
  left: 0;
  top: 194px;
  flex: none;
  order: -1;
  flex-grow: 0;
  margin-top: -90px;
  margin-left: auto;
}

.resources-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 200px;
  height: 104px;
  left: 87.5px;
  top: 1092.15px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 40px 0;
}

.social-media-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: static;
  width: 200px;
  height: 40px;
  flex: none;
  margin: 24px 0;
}

/* second section */

.work-image {
  align-items: center;
  padding: 4px 0;
  width: 77px;
  height: 40px;
  left: 61.5px;
  top: 64px;
  margin-top: 80%;
  position: static;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3461px;
  left: 0;
  margin-top: -180px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  position: static;
  height: 145px;
  left: 0;
  top: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0;
}

.title-container h2 {
  height: 104px;
  left: 24px;
  top: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.title-container img {
  height: 0;
  width: 80%;
  left: 0;
  right: 0;
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #646369;
}

.main-body {
  background-image: url(IMG1/background-image2.png);
  height: 2617.21px;
}

.image-placeholder {
  position: static;
  height: 236px;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9), url(image_processing20200716-21735-f07s4k.png);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.text-area h2 {
  position: relative;
  height: 105px;
  left: 0;
  top: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  z-index: 999;
}

.text-area p {
  width: 327px;
  height: 204px;
  left: 0;
  top: 129px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
  z-index: 999;
}

.list-tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  padding: 1px;
  position: static;
  height: 40px;
  left: 0;
  top: 357px;
  margin: 24px 0;
}

.border-right {
  border-right: 1px solid #646369;
  padding-left: 12px;
}

.border-left {
  padding-right: 12px;
  padding-left: 10px;
}

.list-tags > div {
  width: 32px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

button {
  background-color: #7d73fc;
  padding: 10px;
  color: #f5f5ff;
  border: #7d73fc;
  font-family: Roboto, sans-serif;
  transition: 0.6s;
}

button:hover {
  background-color: #7d73fc;
  color: #f5f5ff;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.form-container {
  margin-top: 37%;
  padding: 20px;
}

.form-intro h3 {
  height: 35px;
  left: 0;
  top: 0;
  margin: 24px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #9390ff;
}

.form-intro p {
  height: 105px;
  left: 0;
  top: 59px;
  margin: 0 0 40px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

form {
  display: flex;
  flex-direction: column;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 18px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 18px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  margin: 18px 0;
  box-sizing: border-box;
  height: 150px;
  padding: 12px 20px;
}

.form-button {
  width: 89px;
  height: 48px;
  left: 143px;
  top: 656px;
  background: #7d73fc;
  align-self: center;
  margin: 40px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 72px;
  left: 0;
  top: 5291px;
  border-top: 1px solid #646369;
}

.social-media-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 40px;
  left: 0;
  top: 0;
  padding-left: 20%;
}

.mail-container a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  padding-left: 10%;
}
